<div class="grid">
    <div class="col-12">
        <div class="flex justify-content=center align-text-center text-align-center">

            <!--Login-->
            <form   [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
                <p-card header="Login" subheader="Faça seu login com sua conta existente" *ngIf="loginCard">

                    <div class="flex justify-content=center align-text-center text-align-center">

                        <input type="Email" pInputText placeholder="Email" formControlName="email">
                    </div>

                    <div class="flex justify-content=center align-text-center text-align-center mt-3">

                        <input type="password" pInputText placeholder="Senha" formControlName="password">
                    </div>

                    <div class="card flex justify-content-center mt-3">
                        <button type="submit" pButton pRipple label="Login" [disabled]="!this.loginForm.valid"></button>

                    </div>
                    <span class="flex justify-content-center align-text-center text-align-center mt-3 text-red-600 font-semibold" style="cursor: pointer;" (click)="loginCard = !loginCard">Criar Conta</span>


                    
                </p-card>
            </form>
            
            <!--Conta-->
            <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignupForm()">
                <p-card header="Criar Conta" subheader="Crie sua conta gratuita!" *ngIf="!loginCard">

                    <div class="flex justify-content=center align-text-center text-align-center">

                        <input type="Nome" pInputText placeholder="Nome" formControlName="name">
                    </div>

                    <div class="flex justify-content=center align-text-center text-align-center mt-3">

                        <input type="Email" pInputText placeholder="Email" formControlName="email">
                    </div>

                    <div class="flex justify-content=center align-text-center text-align-center mt-3">

                        <input type="password" pInputText placeholder="Senha" formControlName="password">
                    </div>

                    <div class="card flex justify-content-center mt-3">
                        <button type="submit" pButton pRipple label="Criar conta" [disabled]="!this.signupForm.valid"></button>

                    </div>
                    <span class="flex justify-content-center align-text-center text-align-center mt-3 text-red-600 font-semibold" style="cursor: pointer;" (click)="loginCard = !loginCard">Fazer login</span>



        

    





